.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 20px 0;
}

.main h1 {
  text-align: center;
}

.main p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
